@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap");
body {
  margin: 0;
  font-family: "M PLUS 1p", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
textarea,
select {
  font-size: 17px !important;
}
